USE [Stationary]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 30-03-2023 14:34:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[Address_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NULL,
	[Country_ID] [int] NULL,
	[State_ID] [int] NULL,
	[City_ID] [int] NULL,
	[Address] [varchar](500) NULL,
	[Pin_code] [varchar](500) NULL,
	[Status] [int] NULL,
	[Address_Type] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryDetails]    Script Date: 30-03-2023 14:34:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryDetails](
	[Categoryid] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Descp] [varchar](280) NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_CategoryDetails] PRIMARY KEY CLUSTERED 
(
	[Categoryid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[coupon]    Script Date: 30-03-2023 14:34:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coupon](
	[copid] [int] IDENTITY(1,1) NOT NULL,
	[CopCode] [varchar](100) NULL,
	[copDiscount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[copid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Details_items]    Script Date: 30-03-2023 14:34:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Details_items](
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[qty] [int] NULL,
	[price] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 30-03-2023 14:34:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderId] [int] NOT NULL,
	[Orderdate] [datetime] NULL,
	[OrdeUpdateDate] [datetime] NULL,
	[OrderAmount] [float] NULL,
	[OrderDiscount] [float] NULL,
	[OrderFinalAmount] [float] NULL,
	[OrderStatus] [varchar](255) NULL,
	[OrderStatusUpdate] [varchar](255) NULL,
	[OrderStatusUpdatedate] [datetime] NULL,
	[UserId] [int] NULL,
	[ProdId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDetails]    Script Date: 30-03-2023 14:34:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetails](
	[Productid] [int] IDENTITY(1,1) NOT NULL,
	[Categoryid] [int] NULL,
	[Image] [varchar](50) NULL,
	[Price] [varchar](50) NULL,
	[user_id] [int] NULL,
	[status] [int] NULL,
	[BookQnantity] [int] NULL,
	[Name] [varchar](max) NULL,
	[prod_name] [varchar](max) NULL,
	[Descp] [varchar](max) NULL,
	[Product_Content] [varchar](max) NULL,
 CONSTRAINT [PK_ProductDetails] PRIMARY KEY CLUSTERED 
(
	[Productid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales_order]    Script Date: 30-03-2023 14:34:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales_order](
	[Sales_order_ID] [int] NULL,
	[User_ID] [varchar](50) NULL,
	[Order_date] [datetime] NULL,
	[Order_amount] [int] NULL,
	[Discount] [varchar](50) NULL,
	[Total_amount ] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[Delivery_address] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales_Order_items]    Script Date: 30-03-2023 14:34:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales_Order_items](
	[Sales_OrderID] [int] NULL,
	[Product_ID] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[Product_Price] [int] NULL,
	[Total_amount] [int] NULL,
	[Status] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_adminmaster]    Script Date: 30-03-2023 14:34:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_adminmaster](
	[i_autoid] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[Createdate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_contactDetails]    Script Date: 30-03-2023 14:34:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_contactDetails](
	[i_autoid] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[EmailId] [varchar](50) NULL,
	[Mobile] [varchar](50) NULL,
	[Comments] [varchar](280) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_details]    Script Date: 30-03-2023 14:34:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_details](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[First_name] [varchar](50) NULL,
	[Last_name] [varchar](50) NULL,
	[Date_of_birth] [datetime] NULL,
	[Mobile_no] [varchar](50) NULL,
	[Gender] [varchar](50) NULL,
	[Email_ID] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Address] [varchar](max) NULL,
	[Date] [datetime] NULL,
	[Last_login_time] [datetime] NULL,
	[Status] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([Address_ID], [User_ID], [Country_ID], [State_ID], [City_ID], [Address], [Pin_code], [Status], [Address_Type]) VALUES (1, 1, 100, 27, 51, N'Virar West', N'401313', 1, N'Resident')
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoryDetails] ON 

INSERT [dbo].[CategoryDetails] ([Categoryid], [Name], [Descp], [status]) VALUES (15, N'Books', N'', 1)
INSERT [dbo].[CategoryDetails] ([Categoryid], [Name], [Descp], [status]) VALUES (16, N'ArtsAndCrafts', N'', 1)
INSERT [dbo].[CategoryDetails] ([Categoryid], [Name], [Descp], [status]) VALUES (17, N'General', N'', 1)
SET IDENTITY_INSERT [dbo].[CategoryDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[coupon] ON 

INSERT [dbo].[coupon] ([copid], [CopCode], [copDiscount]) VALUES (1, N'PAYTM', 18)
INSERT [dbo].[coupon] ([copid], [CopCode], [copDiscount]) VALUES (2, N'CMDE', 10)
INSERT [dbo].[coupon] ([copid], [CopCode], [copDiscount]) VALUES (3, N'ROCM', 9)
SET IDENTITY_INSERT [dbo].[coupon] OFF
GO
INSERT [dbo].[Order_Details_items] ([order_id], [product_id], [qty], [price]) VALUES (26828107, 37, 1, N'500')
INSERT [dbo].[Order_Details_items] ([order_id], [product_id], [qty], [price]) VALUES (26828107, 46, 1, N'250')
INSERT [dbo].[Order_Details_items] ([order_id], [product_id], [qty], [price]) VALUES (43450980, 37, 1, N'500')
GO
INSERT [dbo].[OrderDetails] ([OrderId], [Orderdate], [OrdeUpdateDate], [OrderAmount], [OrderDiscount], [OrderFinalAmount], [OrderStatus], [OrderStatusUpdate], [OrderStatusUpdatedate], [UserId], [ProdId]) VALUES (44379201, CAST(N'2023-03-23T00:00:00.000' AS DateTime), CAST(N'2023-03-23T00:00:00.000' AS DateTime), 423, 0, 523, N'', N'pending', CAST(N'2023-03-23T00:00:00.000' AS DateTime), 2, NULL)
INSERT [dbo].[OrderDetails] ([OrderId], [Orderdate], [OrdeUpdateDate], [OrderAmount], [OrderDiscount], [OrderFinalAmount], [OrderStatus], [OrderStatusUpdate], [OrderStatusUpdatedate], [UserId], [ProdId]) VALUES (26151179, CAST(N'2023-03-23T00:00:00.000' AS DateTime), CAST(N'2023-03-23T00:00:00.000' AS DateTime), 250, 0, 350, N'', N'pending', CAST(N'2023-03-23T00:00:00.000' AS DateTime), 2, NULL)
INSERT [dbo].[OrderDetails] ([OrderId], [Orderdate], [OrdeUpdateDate], [OrderAmount], [OrderDiscount], [OrderFinalAmount], [OrderStatus], [OrderStatusUpdate], [OrderStatusUpdatedate], [UserId], [ProdId]) VALUES (11894276, CAST(N'2023-03-23T00:00:00.000' AS DateTime), CAST(N'2023-03-23T00:00:00.000' AS DateTime), 673, 0, 773, N'', N'pending', CAST(N'2023-03-23T00:00:00.000' AS DateTime), 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[ProductDetails] ON 

INSERT [dbo].[ProductDetails] ([Productid], [Categoryid], [Image], [Price], [user_id], [status], [BookQnantity], [Name], [prod_name], [Descp], [Product_Content]) VALUES (57, 15, N'1.jpg', N'221', 1, 1, NULL, N'Pearson IIT Foundation Series Chemistry Class 7', N'Pearson Education', N'Sample Papers', NULL)
INSERT [dbo].[ProductDetails] ([Productid], [Categoryid], [Image], [Price], [user_id], [status], [BookQnantity], [Name], [prod_name], [Descp], [Product_Content]) VALUES (61, 17, N'1 (2).jpg', N'198', 1, 1, NULL, N'Worldone Expanding File 13 Pockets', N'Worldone Expanding File', N' Files & Folders', NULL)
INSERT [dbo].[ProductDetails] ([Productid], [Categoryid], [Image], [Price], [user_id], [status], [BookQnantity], [Name], [prod_name], [Descp], [Product_Content]) VALUES (62, 16, N'3.jpg', N'539', 1, 1, NULL, N'FunBlast Washable Watercolor Pens Set ', N'FunBlast Toys', N'Color Pens & Markers', NULL)
SET IDENTITY_INSERT [dbo].[ProductDetails] OFF
GO
INSERT [dbo].[Sales_order] ([Sales_order_ID], [User_ID], [Order_date], [Order_amount], [Discount], [Total_amount ], [Status], [Delivery_address]) VALUES (1, N'1', CAST(N'2019-03-23T19:40:11.387' AS DateTime), NULL, N'1', N'100', N'pending', 1)
INSERT [dbo].[Sales_order] ([Sales_order_ID], [User_ID], [Order_date], [Order_amount], [Discount], [Total_amount ], [Status], [Delivery_address]) VALUES (2, N'1', CAST(N'2019-03-23T19:40:53.860' AS DateTime), NULL, N'2', N'200', N'pending', 1)
INSERT [dbo].[Sales_order] ([Sales_order_ID], [User_ID], [Order_date], [Order_amount], [Discount], [Total_amount ], [Status], [Delivery_address]) VALUES (3, N'1', CAST(N'2019-03-23T19:41:41.537' AS DateTime), NULL, N'3', N'400', N'pending', 1)
GO
INSERT [dbo].[Sales_Order_items] ([Sales_OrderID], [Product_ID], [Quantity], [Product_Price], [Total_amount], [Status]) VALUES (2, N'1', 1, 100, 100, N'confirm')
INSERT [dbo].[Sales_Order_items] ([Sales_OrderID], [Product_ID], [Quantity], [Product_Price], [Total_amount], [Status]) VALUES (3, N'1', 1, 100, 100, N'confirm')
INSERT [dbo].[Sales_Order_items] ([Sales_OrderID], [Product_ID], [Quantity], [Product_Price], [Total_amount], [Status]) VALUES (4, N'1', 1, 100, 100, N'confirm')
GO
SET IDENTITY_INSERT [dbo].[tbl_adminmaster] ON 

INSERT [dbo].[tbl_adminmaster] ([i_autoid], [username], [password], [Createdate]) VALUES (1, N'admin@gmail.com', N'123456', CAST(N'2019-03-15T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_adminmaster] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_contactDetails] ON 

INSERT [dbo].[tbl_contactDetails] ([i_autoid], [Name], [EmailId], [Mobile], [Comments]) VALUES (1, N'akash', N'akash@gmail.com', N'7894567894', N'Looking for medicine')
SET IDENTITY_INSERT [dbo].[tbl_contactDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[User_details] ON 

INSERT [dbo].[User_details] ([User_ID], [First_name], [Last_name], [Date_of_birth], [Mobile_no], [Gender], [Email_ID], [Password], [Address], [Date], [Last_login_time], [Status]) VALUES (1, N'User', N'user', NULL, N'1234567890', NULL, N'vinitsingh720@gmail.com', N'5252', N'Virar west', CAST(N'2019-03-23T17:41:09.703' AS DateTime), CAST(N'2019-06-20T22:05:32.420' AS DateTime), 1)
INSERT [dbo].[User_details] ([User_ID], [First_name], [Last_name], [Date_of_birth], [Mobile_no], [Gender], [Email_ID], [Password], [Address], [Date], [Last_login_time], [Status]) VALUES (2, N'abc', N'xyz', NULL, N'1234567890', NULL, N'abc@gmail.com', N'123', N'pqr', CAST(N'2019-03-27T01:57:47.637' AS DateTime), CAST(N'2019-04-06T00:16:07.447' AS DateTime), 1)
INSERT [dbo].[User_details] ([User_ID], [First_name], [Last_name], [Date_of_birth], [Mobile_no], [Gender], [Email_ID], [Password], [Address], [Date], [Last_login_time], [Status]) VALUES (3, N'xyz', N'xyz', NULL, N'1234567891', NULL, N'xyz@gmail.com', N'123', N'virar west', CAST(N'2019-03-30T09:52:34.843' AS DateTime), CAST(N'2019-03-30T09:55:07.793' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[User_details] OFF
GO
/****** Object:  Index [UQ__OrderDet__C3905BCEB906DD14]    Script Date: 30-03-2023 14:34:32 ******/
ALTER TABLE [dbo].[OrderDetails] ADD UNIQUE NONCLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CategoryDetails] ADD  CONSTRAINT [DF_CategoryDetails_status_1]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ('pending') FOR [OrderStatus]
GO
ALTER TABLE [dbo].[ProductDetails] ADD  CONSTRAINT [DF_ProductDetails_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Sales_order] ADD  CONSTRAINT [DF__Sales_ord__Statu__20C1E124]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[User_details] ADD  CONSTRAINT [DF__User_deta__Statu__30F848ED]  DEFAULT ((1)) FOR [Status]
GO
